doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Jobo - Hướng dẫn
    link(rel='stylesheet', href='')
  body
    div(style='font-size: 15px; padding: 20px; width: 100%;')
      .content(style='margin: 0 auto; width: auto;')
        h2 Hướng dẫn sử dụng Jobo chat bot
        p(style='color: #f00;') Chú ý:
        p Từ khoá không phân biệt hoa thường và có thể có dấu hoặc không dấu
        p
        h3 Tìm việc:
        span
          ol
            li(style='font-weight: bold;') Tìm theo ngành nghề:
            | Nhập các từ khoá: tìm việc, jobs, việc làm.
            li(style='font-weight: bold;') Tìm theo vị trí:
            | Nhập các từ khoá: vị trí, location, address, địa chỉ.
        p
