//-
  Copyright 2017-present, Facebook, Inc. All rights reserved.

  This source code is licensed under the license found in the
  LICENSE file in the root directory of this source tree.

extends layout
block head
block content
  div(class='main row')
    div(class='column')
      div(class='header')
        h2 Almost done...
      div(class='subtitle')
      p
        | Bạn vừa tạo thành công tài khoản Jobo.
        strong &nbsp;Đăng nhập&nbsp;
        | để trải nghiệm ứng dụng.
